body {
    padding-top:70px;
    padding-bottom: 40px;
    color: #5a5a5a;
}


/*  */

.summary {
    padding-right: 3px;
    padding-left: 3px;
}

.summary .col-md-2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top:30px;
}
.summary .smallimage {
    height:130px;
    width:130px;
}

/* 响应式布局 */

@media (max-width: 768px) {

    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }

}
    .row2 {
       padding-bottom: 150px;
       padding-top:50px;
    }

.shequ {
  text-align:center;
  padding-bottom:40px;
}

.pros {
  margin-left: 110px;
}

.activity {
  padding-bottom: 40px;
  padding-top: 30px;
}

.activityLeft {
  margin-left: 260px;
  display: inline-block;
  width:550px ;
}

.tongzhi {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;
}


.more {
  margin-left: 980px;
  margin-right: 110px;
  border: 2px solid #CCC;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-width: 8px;
  background-color: #CCC;
  margin-bottom: 70px;
}

.dd {
  border: 2px solid #CCC;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-width: 7px;
  background-color: #CCC;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: black;
}

.leaders {
  margin-left: 0px;
  padding-top: 20px;
        height: 250px;
  width: 100%;
  border: 1px solid #CCC;
  background-color: #CCC
}

.partner {
  margin-top: 40px;
  margin-bottom: 20px;
}

.par {
  margin-top: 20px;
}

.foot {
  margin: 100px;
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}
